<div class="chessboard">
    <ng-container *ngFor="let row of rows; let oddRow = odd">
        <div class="row" [style.height]="config.board.cells.size + 'px'">
            <ng-container *ngFor="let column of columns; let oddColumn = odd">
                <app-cell [piece]="gameService.getPiece(getNotation(column, row))" [notation]="getNotation(column, row)" [color]="(oddRow && oddColumn) || (!oddRow && !oddColumn) ? ColorEnum.White : ColorEnum.Black"></app-cell>
            </ng-container>
        </div>
    </ng-container>
</div>