:host {
    flex: 1;
    background: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 2.5vw 5vh;
    overflow-y: auto;
}

mat-form-field {
    display: block;
    height: 70px;
}

mat-slider {
    width: 75%;
}

div.label-container {
    display: inline-block;
    width: 25%;
    text-align: left;
}

.container.double mat-form-field, .container.double div:not(.label-container) {
    width: 49%;
}

.container.triple mat-form-field, .container.triple div:not(.label-container) {
    width: 33%;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}